smolagents
pandas
openpyxl
python-dotenv
PyPDF2
openai
pycryptodome
transformers
torch
sentencepiece
llama-stack
huggingface_hub
protobuf
pypdf
langchain-community
faiss-cpu
transformers
torch
bitsandbytes
accelerate