streamlit==1.37.1

pandas==2.2.2
openpyxl==3.1.5
python-dotenv==1.0.1

PyPDF2==3.0.1
pypdf==4.3.1
pycryptodome==3.20.0

openai==1.40.6

langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.53
langchain-text-splitters==0.0.2

faiss-cpu==1.8.0.post1
sentence-transformers==2.7.0

transformers==4.43.4
torch==2.3.1
sentencepiece==0.2.0
huggingface_hub==0.24.6
protobuf==4.25.4

accelerate==0.33.0
smolagents==1.13.0
